{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>Weather App</title>
</head>
<body>
    <header class="head">
        <div class="head-logo">
            <img class='logo' src="{% static 'images/logo.jpeg' %}" alt="">
            <h2> Odyssey Weather</h2>
        </div>

        <div class="city-input">
            <input class="inputt" type="text" id="city" placeholder="Enter city name">
            <span class="search-icon"><i class="fas fa-search"></i></span>
        </div>

        <div class="weather-week">
            <a href=""><h4>Погода на 10 дней</h4></a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="weather-container">
                <div class="mainwweather">
                    <div id="weatherResult" class="weather-block" style="display: none;">
                        <div class="weather-left">
                            <h2 id="cityName"></h2>
                            <p id="description"></p>
                            <p class="speed"><strong>Wind Speed:</strong> <span id="windSpeed"></span> m/s</p>
                            <p class="speed"><strong>Cloudiness:</strong> <span id="cloudiness"></span>%</p>
                        </div>
                        <div class="weather-right">
                            <h1><span id="temperature"></span> °C</h1>
                        </div>
                        <img id="weatherIcon" src="" alt="Weather Icon">
                    </div>
                    <div id="weather-map" style="display: none;"></div>
                </div>

                <h2 id="forecastTitle" style="display: none;">Прогноз на неделю</h2>

                <div class="weather-weekly-slider">
                    <button id="prevButton" class="slider-btn"><</button>
                    <div id="weatherWeeklyResult" class="weather-weekly">
                    </div>
                    <button id="nextButton" class="slider-btn">></button>
                </div>
            </div>
        </div>

        <div class="block-container">
            <div class="card">
                <div class="card-content">
                    <div class="image-wrapper">
                        <img src="https://storage.googleapis.com/a1aa/image/F48hJDouEmKHJVyle2Qf2ztywYzgBrTwqVOdmjnQtelYWu8nA.jpg" alt="Earth with moon phase" class="main-image">
                        <div class="background-circle"></div>
                    </div>
                    <div class="text-center">
                        <p class="text-light">Световой день</p>
                        <p class="text-bold">8 ч 58 мин</p>
                    </div>
                    <div class="time-wrapper">
                        <div class="time-block">
                            <i class="icon">&#9728;</i>
                            <p class="time-text">07:23</p>
                        </div>
                        <div class="time-block">
                            <i class="icon">&#9728;</i>
                            <p class="time-text">16:21</p>
                        </div>
                    </div>
                    <div class="add-info">
                        <p class="text-light">Убывающая луна</p>
                        <p class="text-light">Неустойчивое магнитное поле</p>
                        <p class="text-light">Низкий УФ-индекс</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2 class="card-title">Погода в других городах</h2>
                <ul class="weather-list">
                    <li class="weather-item">
                        <span class="icon">&#9729;</span>
                        <span class="city-temp">-10° Караганда</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9728;</span>
                        <span class="city-temp">-4° Петропавловск</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9728;</span>
                        <span class="city-temp">-16° Павлодар</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9729;</span>
                        <span class="city-temp">+3° Шымкент</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9729;</span>
                        <span class="city-temp">+3° Тараз</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9729;</span>
                        <span class="city-temp">+3° Актобе</span>
                    </li>
                    <li class="weather-item">
                        <span class="icon">&#9729;</span>
                        <span class="city-temp">+3° Семей</span>
                    </li>
                    
                </ul>
                <div class="button-group">
                    <button class="button">Погода в Казахстане</button>
                    <button class="button">В мире</button>
                </div>
            </div>
            <div class="card">
                <h2 class="card-title">Что такое атмосферное давление?</h2>
                <img src="https://storage.googleapis.com/a1aa/image/yrzRMYMNvEoNE9lPf4t78KfOfBN4uAsPEIwgfNaxW6Llsc5PB.jpg" alt="Atmosphere" class="article-image">
                <div class="button-group">
                    <button class="button">Все статьи</button>
                </div>
            </div>
        </div>
    </main>
    <!-- <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img class='logo' src="{% static 'images/logo.jpeg' %}" alt="">
                <h2> Odyssey Weather</h2>
            </div>
            <div class="footer-info">
                <p>© 2021 Odyssey Weather. All rights reserved</p>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
            </div>
            <div class="footer-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer> -->
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-column">
            <h4>Ссылки</h4>
            <ul>
              <li><a href="#">Канал "О погоде от Odyssey"</a></li>
              <li><a href="#">Справка</a></li>
              <li><a href="#">Пользовательское соглашение</a></li>
              <li><a href="#">Обратная связь</a></li>
              <li><a href="#">Для умного дома</a></li>
              <li><a href="#">Поддержка</a></li>
            </ul>
            <div class="dropdown">
                <button class="language-btn">Русский</button>
                <div class="dropdown-content">
                  <a href="#">Русский</a>
                  <a href="#">Казахский</a>
                </div>
            </div>
          </div>
          <div class="footer-column">
            <h4>Партнёрам</h4>
            <ul>
              <li><a href="#">Реклама</a></li>
              <li><a href="#">API Odyssey.Weather</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Прогноз погоды</h4>
            <ul>
              <li><a href="#">Почасовой прогноз</a></li>
              <li><a href="#">Подробный прогноз на 10 дней</a></li>
              <li><a href="#">Прогноз на месяц</a></li>
              <li><a href="#">Погода на карте</a></li>
              <li><a href="#">Магнитные бури</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Скачайте приложение</h4>
            <ul class="app-links">
              <li><a href="#"><img src="{% static 'images/googleplay.png' %}" alt="Google Play"></a></li>
              <li><a href="#"><img src="{% static 'images/appstore.png' %}" alt="App Store"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Исходные данные: ООО «Odyssey.Map», Казгидромет, ФГБУ «ЦАО»; NOAA</p>
          <p>© 2000–2024 ООО «Odyssey»</p>
        </div>
      </footer>
      
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>